.block_yakitory .uploadbtn {
    text-align: center !important;
}

.block_yakitory .footer {
    text-align: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.block_yakitory .content a {
    font-size: 1.2em;
}

.block_yakitory .content a:hover, a:focus {
    color:#667eda !important;
    text-decoration: underline !important;
}